.interactives-container {
  display: flex;
  justify-content: center;
  padding: 15px;
  gap: 10px;
  background-color: #363a40;
}

.button-container {
  display: flex;
  justify-content: center;
  background-color: #363a40;
  gap: 25px
}

.regen-stop-container {
  margin-right: 10px;
}

.custom-btn {
  margin: 2px
}

.array-container {
  height: 775px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.array-list {
  display: flex;
  align-items: flex-end;
}

.array-block {
  padding: 1px;
  margin: 2px;
  width: 5px;
  background-color: #616975;
  
}

.left-container {
  display: flex;
  align-items: center;
}

.slide-container {
  padding-right: 25px;
}

.selected-sort {
  display: flex;
  margin: auto;
  justify-content: center;
  height: 30px;
}

.sort-banner {
  color: white;
  font-size: 2rem;
}

.btn-light:disabled { 
  background-color: rgb(187, 183, 183);
  box-shadow: none;
}

.btn-warning:disabled {
  background-color: rgb(187, 183, 183);
  box-shadow: none;
}

.btn-danger:disabled { 
  color: white;
  background-color: rgb(142, 77, 77);
  box-shadow: none;
}