.interactives-container {
  display: flex;
  justify-content: center;
  padding: 15px;
  gap: 10px;
  background-color: #363a40;
}

.array-container {
  height: 775px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.array-list {
  display: flex;
  align-items: flex-end;
}

.array-block {
  padding: 1px;
  margin: 2px;
  width: 5px;
  background-color: #616975;
  
}

.left-container {
  display: flex;
  align-items: center;
}

.slide-container {
  padding-right: 25px;
}

.selected-sort {
  display: flex;
  margin: auto;
  justify-content: center;
  height: 30px;
}

.sort-banner {
  color: white;
  font-size: 2rem;
}