.interactives-container {
  display: flex;
  justify-content: space-around;
  padding: 15px;
  background-color: rgb(168, 168, 195);
}

.array-container {
  height: 775px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.array-list {
  display: flex;
  align-items: flex-end;
}

.array-block {
  padding: 1px;
  margin: 2px;
  width: 5px;
  background-color: rgb(103, 119, 91);
  
}